<h1>Términos y condiciones</h1>
<p>Los Términos y Condiciones son redactados unilateralmente por el propietario del activo digital, sin posibilidad de que los usuarios tengan capacidad de negociación, dado que se trata de contrato de adhesión, lo que a mediano y largo plazo te permitirá escalar tu negocio y dejar de suscribir contratos con cada usuario con el que tienes alguna relación comercial.</p>
